* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.cabecalho-header {
    background: #CCCCCC;
}

.cabecalho-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 20%;
}

.cabecalho-linkscontainer {
    display: flex;
    gap: 10%;
    padding-right: 2%;
}

.cabecalho-links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}

.cabecalho-links:hover {
    color: red;
}

.container-section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgb(129, 129, 129), white)
}

.div-tituloSobre {
    padding: 2% 0%;
}

.tituloSobre {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.img-paragrafos {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.div-paragrafos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paragrafos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.div-localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 0%;
}

.texto-localizacao {
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;

}

.maps {
    width: 50rem;
    height: 30rem;
    border: 0;
}

.img-sobre {
    width: 18%;
}

.container-beneficios {
    text-align: center;
    margin-bottom: 2.8rem;
}

.texto-beneficios {
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.img-beneficios {
    width: 32%;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.3);
}

.benefits-list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5%;
    margin-top: 1%;
}

.ul {
    text-align: start;
    margin-top: 1rem;
}

.texto-li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.footer {
    text-align: center;
    background-image: url(img/bg.jpg);
    padding: 2.5rem;
}

.footer-paragrafo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.allContent-products {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.container-section-products {
    display: flex;
}

.ul-container {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    gap: 5%;
}

.list-products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    width: 15rem;
    height: 23rem;
}

.product-title {
    font-family: Arial, Helvetica, sans-serif;
}

.product-description {
    font-family: Arial, Helvetica, sans-serif;
}

.product-price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.allContent-contact {
    padding: 5% 4%;
}

.container-form {

}

.label-form, .hora-atendimento {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.input-form, .textarea-form {
    display: block;
    margin: 0.1rem 0px 1rem 0px; 
    padding: 1%;
    width: 35%;
}

.submit {
    display: block;
    width: 20%;
    height: 3rem;
    border: none;
    border-radius: 0.6rem;
    background: rgb(255, 196, 0);
    transition: 2s;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(255, 60, 0);
    transition: 1s;
    transform: scale(1.2);
}

.radios-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset {
    border: none;
}

table {
    margin: 3rem 0rem;
}

th {
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 0.2rem;
    border: 1px solid black;
}

td {
    padding: 0.5rem;
    border: 1px solid black;
}

.video {
    display: flex;
    justify-content: center;
    padding: 2% 0 2%;
}